@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdfa;
  --color-primary-100: #ccfbf1;
  --color-primary-500: #14b8a6;
  --color-primary-600: #0d9488;
  --color-primary-900: #134e4a;
  
  --color-dark-900: #0f172a;
  --color-dark-800: #1e293b;
  --color-dark-700: #334155;
  --color-dark-600: #475569;
}

body {
  background-color: var(--color-dark-900);
  color: #f8fafc;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
